{{#
    @name Buttons
    @desc Multiple buttons component calling in `resources/views/components/_button.antlers.html`.
    @param inverted Boolean. When the buttons needs inverted styles.
    @set page.article.buttons
#}}

{{# /components/_buttons.antlers.html #}}
{{ if buttons }}
    {{ if type == 'buttons' }}
        {{# Wrap an .s-entry-content-wrapper div around the buttons when called as a Bard set. #}}
        <div class="s-entry-content-wrapper">
            <div class="s-entry-content">
                <div class="o-hero-buttons">
                    {{ buttons }}
                        {{ partial:components/button }}
                    {{ /buttons }}
                </div>
            </div>
        </div>
    {{ else }}
        {{# The styling when called from any other partial or template. #}}
        <div class="{{ class }}">
            {{ buttons }}
                {{ partial:components/button :inverted="inverted" class="" }}
            {{ /buttons }}
        </div>
    {{ /if }}
{{ /if }}
{{# End: /components/_buttons.antlers.html #}}
