{{#
    @name Notification
    @desc The notification component. Currently used in `resources/views/page_builder/_form.antlers.html`.
    @param* content The notification content.
    @param* type The type of notification: `success`, `notice`, or `error`.
    @param class Add custom CSS classes.
#}}

{{# /components/_notification.antlers.html #}}
<div
    class="
        {{ switch(
            (type == 'success') => 'c-form-banner--success',
            (type == 'notice') => 'c-form-banner--notice',
            (type == 'error') => 'c-form-banner--error',
            () => ''
        )}}
        {{ class }}
    "
>
    {{ svg
        :src="type"
        alt=""
        aria-hidden="true"
        sanitize="true"
    }}
    <h3>
        {{ content }}
    </h3>
</div>
{{# End: /components/_notification.antlers.html #}}
