{{#
    @name Pull quote
    @desc The pull quote component. A pull quote with an optional author.
    @set page.article.pull_quote
#}}

{{# /components/_pull_quote.antlers.html #}}
<div class="s-entry-content-wrapper">
    <figure
        class="
            c-pull-quote
            {{ switch(
                (size == 'md') => 'c-pull-quote--m',
                (size == 'lg') => 'c-pull-quote--l',
                (size == 'xl') => 'c-pull-quote--l-1',
                () => 'c-pull-quote--m'
            )}}
        "
    >
        <blockquote>{{ quote | nl2br }}</blockquote>
        {{ if author }}
            <figcaption>
                — {{ author }}
            </figcaption>
        {{ /if }}
    </figure>
</div>
{{# End: /components/_pull_quote.antlers.html #}}
