{{#
    @name Table
    @desc The table component for sizeable content tables.
    @set page.article.table
#}}

{{# /components/_table.antlers.html #}}
<div
    class="
        c-table-container
        {{ switch(
            (size == 'md') => '',
            (size == 'lg') => 'c-table-container--l',
            (size == 'xl') => 'c-table-container--l-1',
            () => ''
        )}}
    "
>
    <table>
        {{ table }}
            {{ if first && first_row_headers }}
                <thead>
                    <tr>
                        {{ cells }}
                            <th>{{ value }}</th>
                        {{ /cells }}
                    </tr>
                </thead>
            {{ /if }}

            {{ first ?= '<tbody>' }}

            {{ if !first && first_row_headers || !first_row_headers }}
                <tr>
                    {{ cells }}
                        {{ if first && first_column_headers }}
                            <th>{{ value }}</th>
                        {{ else }}
                            <td>{{ value }}</td>
                        {{ /if }}
                    {{ /cells }}
                </tr>
            {{ /if }}

            {{ last ?= '</tbody>' }}
        {{ /table }}
    </table>

    {{ partial:typography/caption }}
</div>
{{# End: /components/_table.antlers.html #}}
