/* GROUP ELEMENTS / FORMS
=================================================== */
/* HTML Example...

    <form class="c-form">
        <div class="c-form__notes">
            Your email address will not be published
        </div>

        <fieldset>
            <legend>Leave a comment</legend>
            <div>

            </div>
        </fieldset>
    </form>

*/
@layer elements {
    form {
        --field-block-end: 2rem;
    }
    [type="text"],
    [type="email"],
    [type="tel"],
    [type="password"],
    [type="url"],
    [type="tel"],
    [type="search"],
    [type="file"],
    textarea {
        vertical-align: top;
        padding: 15px;

        margin-block-end: var(--field-block-end);
        &:has(~ .c-field-error)  {
            margin-block-end: var(--spacing-s-x);
            border-color: var(--color-alert-red);
            border-width: 3px;
        }

        border-radius: 2px;
    }

    /* Don't carpet bomb since we don't want a checkbox 100% width */
    [type="email"],
    [type="text"],
    [type="url"],
    [type="password"] {
        width: 100%;
    }

    [type="checkbox"],
    [type="radio"] {
        width: 1rem;
        height: 1rem;
        /* =JFG. So they always line up */
        float: left;
        margin-right: var(--spacing-s);
        line-height: normal;
    }
    /* Checkbox and Radio labels */
    [type="checkbox"] + label,
    [type="radio"] + label {
        padding-block-end: var(--spacing-s-2);
    }

    [type="search"] {
        border-radius: 5px;
    }

    [type="submit"] {
        /* e.g. >> /blog/readability-test/ */
        margin-top: var(--spacing-s);
    }

    [type="file"] {
        padding-inline-start: 0;
        border: 0!important;
    }

    fieldset {
        /* Override default */
        padding: 0;
        margin: 0;
        border: 0;
        padding-block-end: var(--spacing-l);
    }

    select {
        /* prevent long options making the box longer */
        max-width: 100%;
    }

    label {
        display: block;
        padding-block-end: var(--spacing-s);
        /* Override line-height set on body */
        line-height: 1.4;
        &:not(:has([type="checkbox"])) {
            font-weight: var(--font-family-main-weight-strong);
        }
        &:has([type="checkbox"]) {
            display: flex;
            align-items: center;
        }
    }

    textarea {
        width: 100%;
        /* e.g. something like Hubspot might be a bit short */
        min-height: 200px;
    }
}
@layer components {
    /* GROUP ELEMENTS / FORMS / FEEDBACK
    =================================================== */
    .c-form-errors {
        padding: var(--spacing-m);
        margin-block-end: var(--spacing-l);
        background: var(--color-alert-red-background);
        color: var(--color-alert-red);
        border: 1px solid var(--color-alert-red);
        border-radius: var(--border-radius-m);

        a {
            --color-focus: var(--color-alert-red);
            color: var(--color-alert-red);
            text-decoration-color: var(--color-alert-red);
        }
    }
    .c-field-required {
        color: var(--color-alert-red);
    }
    .c-field-error {
        display: inline-block;
        margin-block-end: var(--field-block-end);
        color: var(--color-alert-red);
    }
}



/* GROUP ELEMENTS / FORMS / DECORATION
=================================================== */
/* Override normalize */
@layer base {
    [placeholder],
    ::-webkit-input-placeholder,
    ::placeholder {
        color: inherit;
        opacity: 0.55;
        /* e.g. "search this website" */
        font-size: 1.25rem;
    }
    /* Hide the Honeypot https://statamic.dev/forms#honeypot */
    .fax {
        display: none;
    }
}
/* GROUP ELEMENTS / FORMS / DECORATION / BORDERS
=================================================== */
@layer elements {
    [type="text"],
    [type="email"],
    [type="password"],
    [type="tel"],
    [type="number"],
    [type="date"],
    textarea {
        /* Cancel default button appearance */
        -webkit-appearance: none;
        background: none;
        border: 0;
        border-radius: 0;
    }

    input:not([type="submit"]),
    textarea {
        border: var(--border-form-input);
        border-radius: var(--border-radius-m);
    }
}