/* GROUP PEAK STARTER
=================================================== */
/* Notes...

    - This stylesheet simply replicates Peak's demo styles
    - Feel free to delete this file when you're ready to write custom CSS

*/
:root {
    /* GROUP VARIABLES -- SPACING
    =================================================== */
    --spacing-s-x-x: 0.25rem;
    --spacing-s-x: 0.5rem;
    --spacing-s: 0.8rem;
    --spacing-s-1: 1rem;
    --spacing-s-2: 1.35rem;

    --spacing-m: 1.5rem;
    --spacing-l: 1.8rem;
    --spacing-l-1: 2.5rem;

    /* GROUP VARIABLES -- LAYOUT -- Z-INDEX
    =================================================== */
    --z-index-above-body: 1;
    /* Original Peak Tailwind value of 50 */
    --z-index-nav: 2;
    --z-index-above-nav: 3;

    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME
    =================================================== */
    --color-black-hsl: 217.24deg 32.58% 17.45%;
    --color-purple: oklch(53.24% .301 290.86);

    --color-primary-text: hsl(var(--color-black-hsl));
    --color-primary-accent: var(--color-purple);
    --color-focus: var(--color-primary-accent);

    /* GROUP VARIABLES -- DECORATION -- TEXT -- FONTS
    =================================================== */
    --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* GROUP VARIABLES -- DECORATION -- TEXT -- WEIGHTS
    =================================================== */
    --font-family-ui-weight-strong: 700;

    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
    =================================================== */
    --font-size-s-x: 0.875rem;
    --font-size-s-x-line-height: 1.25;

    /* GROUP VARIABLES -- DECORATION -- SEPARATORS -- BORDERS - ordered from light to dark variants
    =================================================== */
    --border-neutral: 1px solid hsl(var(--color-black-hsl) / 10%);

    /* GROUP VARIABLES -- ANIMATIONS -- TIMING
    =================================================== */
    --animation-timing-function-fast-out-slow-in: cubic-bezier(.4,0,.2,1);

    /* GROUP VARIABLES -- ANIMATIONS -- TRANSITIONS
    =================================================== */
    --transition-transform: transform 0.3s var(--animation-timing-function-fast-out-slow-in);

    /* GROUP VARIABLES -- OTHER
    =================================================== */
    --focus-offset-width: 4px;
    --focus-width: 2px;
}
@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: white;
        color: var(--color-primary-text);

        font-family: var(--font-family-main);
        /* https://app.typographychecklist.com/ - 23. Use standard ligatures but avoid using discretionary ligatures in body text */
        font-feature-settings: "kern", "liga", "clig", "calt";
        font-family: var(--font-family-main);
        /* https://css-tricks.com/scrollbar-reflowing/ */
        scrollbar-gutter: stable both-edges;
    }
}



/* GROUP ELEMENTS
=================================================== */
@layer elements {
    a {
        text-decoration: inherit;
    }
    svg {
        stroke: currentColor;
    }
}



/* GROUP ELEMENTS / NAV
=================================================== */
@layer elements {
    nav {
        & a {
            color: inherit;
        }
        & svg {
            /* subnav arrow */
            margin-inline-start: var(--spacing-s-x-x);
            width: 0.5rem;
            color: var(--color-primary-text);

            *:has(> &) {
                /* The SVG container */
                display: flex;
            }
        }
    }
}
@layer objects {
    .o-subnav {
        transition: var(--transition-transform);
    }
    .o-subnav--open {
        transform: scaleY(-1);
    }
}



/* GROUP ELEMENTS / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / FOCUS
=================================================== */
@layer base {
    :is(a, button, summary):focus-visible,
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible {
        outline: var(--focus-width) solid var(--color-focus);
    }
}



/* GROUP COMPONENTS / SKIP TO CONTENT
=================================================== */
/* Notes...

	What does it do?
	----------------
	"Skip to content" is a feature commonly found on websites designed to enhance accessibility. It's typically a hidden link placed at the top of a webpage that allows users who navigate via screen readers or keyboard shortcuts to bypass repetitive content (like navigation menus) and jump directly to the main content of the page. This helps users with disabilities or those who rely on assistive technologies to access and consume the essential information on a website more efficiently.

*/
/* HTML Example...

    <a class="c-skip-to-content" href="#content">
        Skip to content
    </a>

*/
@layer components {
    /* a*/
    .c-skip-to-content {
        position: fixed;
        z-index: var(--z-index-above-nav);
        top: 1rem;
        left: 2rem;

        padding: 0.5rem 1rem;

        font-size: var(--font-size-s-x);
        font-weight: var(--font-family-ui-weight-strong);
        text-decoration: none;

        background: var(--color-primary-accent);
        color: white;

        opacity: 0;

        outline-offset: 2px;

        /* If they're OK with animation */
        @media (prefers-reduced-motion: no-preference) {
            transform: translateY(-6rem);
            transition: var(--transition-transform);
        }

        &:focus {
            transform: unset;
            opacity: 1;
        }
    }
}



/* GROUP COMPONENTS / SITE HEADER
=================================================== */
.c-site-header {
    padding-block: var(--spacing-s-1);
    width: 100%;

    .o-current-menu-item {
        color: var(--color-primary-accent);
    }
}
.c-site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-site-logo {
    padding: var(--spacing-s-x);
    margin: calc(0% - var(--spacing-s-x));
    transition: var(--transition-transform);

    & img {
        user-select: none;
    }

    &:hover {
        transform: scale(1.25) rotate(2deg);
    }
}
.c-site-header__nav-desktop {
    & ul {
        padding: 0;
        margin-inline-start: var(--spacing-l);
        list-style: none;

        &:first-child {
            display: flex;
            align-items: center;
        }

        &:first-child > li {
            margin-inline-start: var(--spacing-l-1);
        }

        & ul {
            position: absolute;
            right: 0;
            padding: var(--spacing-s-x) var(--spacing-s);
            margin-block-start: var(--spacing-s-x);
            margin-inline-start: calc(0% - var(--spacing-s));
            background: white;
            border-radius: 0.25rem;
            border: var(--border-neutral);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

            & a {
                display: block;
                padding: var(--spacing-s) var(--spacing-s-x);
                margin-inline: calc(0% - var(--spacing-s-x-x));
                font-size: var(--font-size-s-x); line-height: var(--font-size-s-x-line-height);
                white-space: nowrap;
            }
        }
    }
    & li {
        position: relative;
        line-height: 1;
    }
    & a {
        display: flex;
        align-items: center;
        padding: var(--spacing-s-x-x);
        margin: calc(0% - var(--spacing-s-x-x));
        font-size: var(--font-size-s-x); line-height: var(--font-size-s-x-line-height);
        font-weight: var(--font-family-ui-weight-strong);

        &:hover {
            color: var(--color-primary-accent);
        }
    }
}



/* GROUP UTILITIES / LAYOUT / HIDERS
=================================================== */
@media (min-width: 768px) {
    .u-mq-768-down {
        display: none!important;
    }
}
@media (max-width: 767px) {
    .u-mq-768-up {
        display: none!important;
    }
}