/* GROUP PEAK STARTER
=================================================== */
/* Notes...

    - This stylesheet simply replicates Peak's demo styles
    - Feel free to delete this file when you're ready to write custom CSS

*/
:root {
    /* GROUP VARIABLES -- SPACING
    =================================================== */
    --spacing-s-x-x: 0.25rem;
    --spacing-s-x: 0.5rem;
    --spacing-s: 0.8rem;
    --spacing-s-1: 1rem;
    --spacing-s-2: 1.35rem;

    --spacing-m: 1.5rem;
    --spacing-l: 1.8rem;
    --spacing-l-1: 2.5rem;

    /* GROUP VARIABLES -- LAYOUT -- Z-INDEX
    =================================================== */
    --z-index-above-body: 1;
    /* Original Peak Tailwind value of 50 */
    --z-index-nav: 2;
    --z-index-above-nav: 3;

    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME
    =================================================== */
    --color-peak-purple: oklch(53.24% .301 290.86);
    --color-focus: var(--color-peak-purple);

    /* GROUP VARIABLES -- DECORATION -- TEXT -- FONTS
    =================================================== */
    --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* GROUP VARIABLES -- DECORATION -- TEXT -- WEIGHTS
    =================================================== */
    --font-family-ui-weight-strong: 700;

    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
    =================================================== */
    --font-size-s-x: 0.875rem;
    --font-size-s-x-line-height: 1.25;

    /* GROUP VARIABLES -- ANIMATIONS -- TIMING
    =================================================== */
    --animation-timing-function-fast-out-slow-in: cubic-bezier(.4,0,.2,1);

    /* GROUP VARIABLES -- OTHER
    =================================================== */
    --focus-offset-width: 4px;
    --focus-width: 2px;
}
@layer base {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: white;

        font-family: var(--font-family-main);
        /* https://app.typographychecklist.com/ - 23. Use standard ligatures but avoid using discretionary ligatures in body text */
        font-feature-settings: "kern", "liga", "clig", "calt";
        font-family: var(--font-family-main);
        /* https://css-tricks.com/scrollbar-reflowing/ */
        scrollbar-gutter: stable both-edges;
    }
}



/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / FOCUS
=================================================== */
@layer base {
    :is(a, button, summary):focus-visible,
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible {
        outline: var(--focus-width) solid var(--color-focus);
    }
}



/* GROUP COMPONENTS / SKIP TO CONTENT
=================================================== */
/* Notes...

	What does it do?
	----------------
	"Skip to content" is a feature commonly found on websites designed to enhance accessibility. It's typically a hidden link placed at the top of a webpage that allows users who navigate via screen readers or keyboard shortcuts to bypass repetitive content (like navigation menus) and jump directly to the main content of the page. This helps users with disabilities or those who rely on assistive technologies to access and consume the essential information on a website more efficiently.

*/
/* HTML Example...

    <a class="c-skip-to-content" href="#content">
        Skip to content
    </a>

*/
@layer components {
    /* a*/
    .c-skip-to-content {
        position: fixed;
        z-index: var(--z-index-above-nav);
        top: 1rem;
        left: 2rem;

        padding: 0.5rem 1rem;

        font-size: var(--font-size-s-x);
        font-weight: var(--font-family-ui-weight-strong);
        text-decoration: none;

        background: var(--color-peak-purple);
        color: white;

        opacity: 0;

        outline-offset: 2px;

        /* If they're OK with animation */
        @media (prefers-reduced-motion: no-preference) {
            transform: translateY(-6rem);
            transition: transform 0.3s var(--animation-timing-function-fast-out-slow-in);
        }

        &:focus {
            transform: unset;
            opacity: 1;
        }
    }
}



/* GROUP COMPONENTS / SKIP TO CONTENT
=================================================== */
.c-site-header {
    padding-block: var(--spacing-s-1);
    width: 100%;
}
.c-site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-site-logo {
    padding: var(--spacing-s-x);
    margin: calc(0% - var(--spacing-s-x));
    transition: transform 0.3s var(--animation-timing-function-fast-out-slow-in);
    &:hover {
        transform: scale(1.25) rotate(2deg);
    }
}