{{#
    @name Main mobile navigation
    @desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

{{# /navigation/_main_mobile.antlers.html #}}
<nav
    x-data="{ mobileNavOpen: false }"
    class="c-site-header__nav-mobile u-mq-768-down"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>
    <button
        @click.prevent.stop="mobileNavOpen = !mobileNavOpen"
        :aria-label="
        mobileNavOpen
            ? '{{ trans:strings.nav_close }}'
            : '{{ trans:strings.nav_open }}'
        "
        :aria-expanded="mobileNavOpen"
        x-text="mobileNavOpen ? '{{ trans:strings.close }}' : '{{ trans:strings.menu }}'"
    ></button>

    <div
        class="c-site-header__nav-mobile__inner"
        x-show="mobileNavOpen"
    >
        <ul>
            {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                <li
                    {{ if children }}
                        x-data="{ subnavOpen: false }"
                        @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                    {{ /if }}
                >
                    <a
                        class="{{ is_current || is_parent ?= 'o-current-menu-item' }}"
                        {{ if children }}
                            href="#"
                            @click.prevent="subnavOpen = !subnavOpen"
                            @click.outside="subnavOpen = false"
                            :aria-label="subnavOpen
                                ? '{{ trans:strings.subnav_close }}'
                                : '{{ trans:strings.subnav_open }}'"
                            :aria-expanded="subnavOpen"
                        {{ else }}
                            href="{{ url }}"
                        {{ /if }}
                    >
                        <span>{{ title }}</span>
                        {{ if children }}
                            <div :class="subnavOpen ? 'o-subnav o-subnav--open' : 'o-subnav'">
                                {{ svg:chevron_down aria-hidden="true" sanitize="true" }}
                            </div>
                        {{ /if }}
                    </a>
                    {{ if children }}
                        <ul
                            x-show="subnavOpen"
                            x-ref="subnav"
                            x-collapse
                        >
                            {{ children }}
                                <li>
                                    <a
                                        class="{{ is_current || is_parent ?= 'o-current-menu-item' }}"
                                        href="{{ url }}">
                                        {{ title }}
                                    </a>
                                </li>
                            {{ /children }}
                        </ul>
                    {{ /if }}
                </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
{{# End: /navigation/_main_mobile.antlers.html #}}
