/* GROUP COMPONENTS / BUTTONS
=================================================== */
/* Notes...

    - You can use a .o-btn-container object to control alignment. For example on the contact form

*/
/* HTML Example...

    <div class="o-btn-container"> <-- optional object, which you could use to control alignment, e.g. .c-contact-form .o-btn-container { display: flex; justify-content: end; }
        <div class="c-btn c-btn--1">
            <a href="">Some button</a>
        </div>
    </div>

*/
@layer components {
    /* anchor instead of just .c-btn because the browser focusses on the a element, which is the background color we want to change should be... */
    .c-btn a,
    button.c-btn,
    form button,
    [type="submit"] {
        display: inline-flex;
        gap: 1rem;
        /* I've found it more stable to use pxls rather than ems. */
        --button-spacing: var(--button-spacing-vertical) var(--button-spacing-horizontal);
        padding: var(--button-spacing);
        font-size: var(--font-size-s);
        font-weight: var(--font-family-main-weight-strong);
        text-decoration-line: none;
        cursor: pointer;
        /* Hover states with a slight delay, but focus without any because keyboard users want quick feedback. Do not use 'all' because it resizes slowly when resizing the browser window */
        transition: background-color 0.2s ease 0s;
        &:last-child {
            margin-right: 0;
            margin-inline-start: auto;
        }
    }
    .c-btn {
        position: relative;
        display: inline-block;
        margin-block-end: 1.25rem;
        & a {
            /* e.g. icons in buttons */
            display: flex;
            align-items: center;
            text-align: left;
        }
        :is(p) + & {
            margin-block-start: var(--spacing-s-2);
        }
    }
}
@layer elements {
    /*
        - Don't affect the header
        - Not .c-btn + .c-btn in case a button is next to a different tag such as <p/>
    */
    main :is(.c-btn, button):not(:last-child) {
        margin-right: 1rem;
    }
    button,
    [type="search"],
    [type="submit"] {
        /* Cancel default button appearance */
        -webkit-appearance: none!important;
        border: none;
    }
    button {
        /* Cancel default button appearance */
        background: none;
        /* To combat -apple-system-blueinput on iOS 15 */
        color: initial;
        & svg {
            font-size: 1.3em;
        }
    }
}
/* GROUP COMPONENTS / BUTTONS / TYPES
=================================================== */
@layer modifiers {
    /* 1 */
    .c-btn--1 a,
    button.c-btn--1,
    form button,
    [type="submit"] {
        background: var(--color-primary-accent);
        color: white;
        border-radius: var(--border-radius-m);
    }
    /* GROUP COMPONENTS / FRAMEWORK / BUTTONS / ACCESSIBILITY / HOVER
    =================================================== */
    /* These should be slightly different to focus states. Subtle effects such as changing the background color from blue to darkblue are best for hover. We want to gently suggest rather than pop out (opposite of focus states).

        - Consider darkening the background color slightly e.g. blue to darkblue
        - Here is a good example...
        https://material-components.github.io/material-components-web-catalog/#/component/button

    */
    .c-btn a:hover {
        /* Cancel link hover effect */
        border-bottom: 0;
    }
}