@layer components {
    .c-cards {
        margin-inline: auto;
        display: grid;
        gap: var(--spacing-m);
        max-width: var(--max-width-reading);

        &, & * {
            color: var(--color-primary-text);
        }

        > :is(h2, h3, h4) {
            grid-column: 1 / -1;
            text-align: center;
            padding-block-end: 0;
        }

        p {
            font-size: var(--font-size-s);
        }

        @media (min-width: 1024px) {
            max-width: var(--max-width-page);
            grid-template-columns: repeat(3, 1fr);
            > :is(h2, h3, h4) {
                padding-block-end: var(--spacing-s); /* Increase */
            }
        }
    }

    .c-card__item {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: start;

        padding: var(--spacing-l);

        border-radius: var(--border-radius-m);
        box-shadow: var(--box-shadow-not-t);
        border: var(--border-neutral);

        a& {
            /* Since the whole card is a link, text-decoration should be disabled */
            text-decoration-line: none;
        }

        > *:last-child {
            margin-block-start: auto;
            font-weight: var(--font-family-main-weight-strong);
            text-decoration: underline;
            text-decoration-color: inherit;
        }
    }
}