/* GROUP OBJECTS / FRAMEWORK / HERO BUTTONS { / BUTTON HERO}
=================================================== */
/* Notes...

    What does it do?
    ----------------
    - Put some space around a group of buttons
    - Center the buttons

*/

/* HTML Example...

    <div class="o-hero-buttons">
        <div class="c-btn">
            <a href="">
                Some button
            </a>
        </div>
        <div class="c-btn">
            <a href="">
                Some button
            </a>
        </div>
    </div>

*/

/* Modifiers...

    .o-hero-buttons--left <- align left e.g. you might use this for hero buttons below a map

*/
@layer objects {
    .o-hero-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-m);

        padding: var(--spacing-l-1);
        text-align: center;
        &:last-of-type {
            padding-block-end: 0;
        }
        /* --mq-max-width-reading-before */
        @media (max-width: 599px) {
            text-align: left;
            padding-inline-start: var(--spacing-l);
        }
    }
}
@layer components {
    /* Needs to be at the component level to override .c-btn defaults */
    .o-hero-buttons :is(.c-btn, [type="submit"]) {
        /* Since spacing is now controlled with flex */
        margin: unset;
    }
}
@layer modifiers {
    .o-hero-buttons--left {
        justify-content: flex-start;
    }
}
@layer scope {
    .o-hero-buttons {
        .s-entry-content & {
            padding: 0;
            justify-content: start;
            & .c-btn {
                --button-spacing-vertical: 0.7rem;
                --button-spacing-horizontal: 1.1rem;
            }
        }
    }
}