{{#
    @name Cards
    @desc The Cards page builder block.
    @set page.page_builder.cards
#}}

{{# /page_builder/_cards.antlers.html #}}
{{ partial:styles/stylesheet name='peak/components/cards' }}
<section class="c-cards">
    {{ block:title ?= '<h2>{{ block:title | nl2br }}</h2>' }}

    {{ block:cards }}
        <{{ button ? 'a' : 'article' }}
            class="c-card__item"
            {{ button }}
                aria-labelledby="{{ title | slugify }}"
                draggable="false"
                {{ partial:statamic-vanilla-peak-tools::snippets/button_attributes }}
            {{ /button }}
        >
            <h3>
                <span id="{{ title | slugify }}">
                    {{ title }}
                </span>
            </h3>
                {{ text ?= '<p>{ text }</p>' }}
            {{ button }}
                {{ partial:components/button as="span" faux="true" }}
            {{ /button }}
        </{{ button ? 'a' : 'article' }}>
    {{ /block:cards }}
</section>
{{# End: /page_builder/_cards.antlers.html #}}
