{{#
    @name Form
    @desc The form page builder block.
    @set page.page_builder.form
#}}

{{ partial:styles/stylesheet name='peak/components/contact-form' }}
<!-- /page_builder/_form.antlers.html -->
<section class="c-contact-form">
        {{ block:title ?= '<h2 class="h1">{ block:title | nl2br } </h2>' }}
        {{ block:text ?= '<p>{ block:text | nl2br } </p>' }}

        {{# Render form and use Alpine based Statamic conditional logic. #}}
        {{ if form:handle }}
            {{ form:create :in="form:handle" js="alpine:form" attr:x-ref="form" }}
                {{# Use Laravel Precognition for live validation and submission. #}}
                <div x-data="formHandler()" x-cloak>
                    {{# Error notifications. #}}
                    <template x-if="form.hasErrors && submitted">
                        <div id="summary" role="group" class="c-form-errors">
                            <h3 class="mb-2 leading-5 font-bold text-red-700">{{ trans:strings.form_error }}</h3>
                            <ul class="list-disc list-inside marker:text-red-700">
                                <template x-for="(error, index) in form.errors">
                                    <li>
                                        <a :href="`#${index}`" @click.prevent="$focus.focus(document.querySelector(`#${index}`))" x-text="error" class="p-1 -m-1 rounded focus:outline-none focus-visible:ring-2 ring-red-700 text-red-700 underline"></a>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </template>

                    {{# Success notifications. #}}
                    <template x-if="success">
                        {{ partial:components/notification type="success" class="md:col-span-12" content="{trans:strings.form_success}" }}
                    </template>

                    {{# Honeypot spam protection. #}}
                    <div class="fax">
                        <label class="font-bold" for="{{ honeypot }}">{{ trans:strings.form_honeypot }} <sup class="c-field-required">*</sup></label>
                        <input class="form-input w-full" id="{{ honeypot }}" type="text" name="{{ honeypot }}" tabindex="-1" autocomplete="off"/>
                    </div>

                    {{# Render various form sections. #}}
                    {{ sections }}
                        <fieldset class="c-form-grid">
                            {{ if display || instructions }}
                                <span class="md:col-span-12">
                                    {{ display ?= { partial:typography/h2 class="mb-2" as="legend" content="{ trans :key="display" }" } }}
                                    {{ instructions ?= { partial:typography/p content="{ trans :key="instructions" }" } }}
                                </span>
                            {{ /if }}

                            {{# Render the default-styled fields. #}}
                            {{ fields scope="field" }}
                                <template x-if="{{ show_field }}">
                                    <div class="
                                        c-form-grid__row
                                        {{ input_type == 'hidden' ?= 'hidden' }}
                                        {{ switch(
                                            (width == '25') => 'c-form-grid__row--25',
                                            (width == '33') => 'c-form-grid__row--33',
                                            (width == '50') => 'c-form-grid__row--50',
                                            (width == '66') => 'c-form-grid__row--66',
                                            (width == '75') => 'c-form-grid__row--75',
                                            () => 'c-form-grid__row--100'
                                        )}}
                                    ">
                                        {{ unless type == 'spacer' }}
                                            <label class="font-bold" for="{{ handle }}">
                                                {{ trans :key="field:display" }}
                                                {{ if validate | contains('required') }}
                                                    <sup class="c-field-required">*</sup>
                                                {{ /if }}

                                                {{ if field:instructions && instructions_position === 'above' }}
                                                    {{ partial:typography/p class="mt-1 font-normal text-sm" content="{ trans :key="field:instructions" }" }}
                                                {{ /if }}
                                            </label>
                                        {{ /unless }}

                                        <div class="mt-2 flex flex-col gap-y-2">
                                            {{ field:field }}

                                            {{# Inline error. #}}
                                            <template x-if="form.invalid('{{ handle }}')">
                                                <span class="c-field-error" x-text="form.errors.{{ handle }}"></span>
                                            </template>

                                            {{ if field:instructions && instructions_position === 'below' }}
                                                <p id="{{ field:handle }}-instructions">
                                                    {{ partial:typography/p as="span" class="text-sm" content="{ trans :key="field:instructions" }" }}
                                                </p>
                                            {{ /if }}
                                        </div>
                                    </div>
                                </template>
                            {{ /fields }}
                        </fieldset>
                    {{ /sections }}

                    <div class="o-btn-container">
                        {{# Submit button, disabled on processing. #}}
                        {{ partial:components/button as="button" label="{ trans:strings.form_send }" }}
                            {{ slot:attributes }}
                                @click.prevent="submit" :disabled="form.processing" :class="{ 'opacity-25 cursor-default': form.processing }"
                            {{ /slot:attributes }}
                        {{ /partial:components/button }}
                    </div>
                </div>
            {{ /form:create }}

            {{# Call in the Peak Tools Alpine Based Precognition Form Handler. #}}
            {{ partial:statamic-vanilla-peak-tools::snippets/form_handler }}
        {{ /if }}
</section>
<!-- End: /page_builder/_form.antlers.html -->
