{{# GROUP SCRIPTS
=================================================== #}}
{{ stack:scripts as="scripts" }}
    {{ scripts | pluck ('value') | unique }}
        {{ if environment == 'local' }}
            <script src="/js/{{ value }}.js" defer></script>
        {{ else }}
            <script src="{{ vite:asset src='public/js/{value}.js' }}" defer></script>
        {{ /if }}
    {{ /scripts }}
{{ /stack:scripts }}
{{# GROUP SCRIPT MODULES
=================================================== #}}
{{ prepend:scripts_modules }}core{{ /prepend:scripts_modules }}
{{ stack:scripts_modules as="scripts" }}
    {{ scripts | pluck ('value') | unique }}
        {{ if environment == 'local' }}
            <script type="module" src="/js/{{ value }}.js"></script>
        {{ else }}
            <script type="module" src="{{ vite:asset src='public/js/{value}.js' }}"></script>
        {{ /if }}
    {{ /scripts }}
{{ /stack:scripts_modules }}
{{# GROUP LOCAL ONLY
=================================================== #}}
{{ stack:scripts_local_only as="scripts" }}
    {{ scripts | pluck ('value') | unique }}
        {{ if environment == 'local' }}
            <script src="/js/{{ value }}.js" defer></script>
        {{ /if }}
    {{ /scripts }}
{{ /stack:scripts_local_only }}
{{# GROUP PRODUCTION ONLY
=================================================== #}}
{{ stack:scripts_production_only as="scripts" }}
    {{ scripts | pluck ('value') | unique }}
        {{ if environment == 'production' }}
            <script src="{{ vite:asset src='public/js/{value}.js' }}" defer></script>
        {{ /if }}
    {{ /scripts }}
{{ /stack:scripts_production_only }}



{{# GROUP EXTERNAL ASYNC
=================================================== #}}
{{ stack:scripts_external_async as="scripts" }}
    {{# E.g. partial:scripts/script_external_async name='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL' #}}
    {{ scripts | pluck ('value') | unique }}
        <script src="{{ value }}" async></script>
    {{ /scripts }}
{{ /stack:scripts_external_async }}
{{# GROUP EXTERNAL DEFER
=================================================== #}}
{{ stack:scripts_external_defer as="scripts" }}
    {{# E.g. partial:scripts/script_external_defer name='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL' #}}
    {{ scripts | pluck ('value') | unique }}
        <script src="{{ value }}" defer></script>
    {{ /scripts }}
{{ /stack:scripts_external_defer }}
{{# GROUP EXTERNAL
=================================================== #}}
{{ stack:scripts_external as="scripts" }}
    {{# Sometimes scripts need to be loaded without defer, e.g. Plyr CDN #}}
    {{# E.g. partial:scripts/script_external name='https://cdn.plyr.io/3.7.8/plyr.js' #}}
    {{ scripts | pluck ('value') | unique }}
        <script src="{{ value }}"></script>
    {{ /scripts }}
{{ /stack:scripts_external }}