/* GROUP BASE / GRID
=================================================== */
/* Notes...

    What does it do?
    ----------------
    Outlines a fluid grid for the page

*/
/* HTML Example...

    <body>
        <header/>
        <main/>
    </body>

*/
@layer base {
    body {
        display: grid;
        grid-template-columns:
            [full-start]
            var(--spacing-l)
            [gutter-start]
            1fr
            [main-start]
            auto
            [main-end]
            1fr
            [gutter-end]
            var(--spacing-l)
            [full-end]
        ;
        > *:not(style) {
            grid-column: main;
            max-width: var(--max-width-page);
        }
    }
}